In [1]:
import pandas as pd
import sqlite3

In [2]:
conn=sqlite3.connect('database.db')

In [3]:
df = pd.read_sql_query("SELECT * FROM crime_data", conn)

In [4]:
df

,Id,IncidentNum,IncidentDate,TimeOccurred,SLMPDOffense,NIBRSCode,NIBRSCat,NIBRSOffenseType,UCR_SRS,CrimeGrade,...,District,Neighborhood,NeighborhoodNum,Latitude,Longitude,Supplemented,SupplementDate,VictimNum,FirearmUsed,IncidentNature
0,0,21000002,1/1/2021,02:00.0,MISCELLANEOUS WEAPON VIOLATION,520,None,None,None,None,...,4.0,36,None,38.629573,-90.204995,None,None,None,None,None
1,1,21000003,1/1/2021,09:00.0,MISCELLANEOUS WEAPON VIOLATION,520,None,None,None,None,...,5.0,38,None,38.641221,-90.264226,None,None,None,None,None
2,2,21000003,1/1/2021,09:00.0,PROPERTY DAMAGE,290,None,None,None,None,...,5.0,38,None,38.641221,-90.264226,None,None,None,None,None
3,3,21000007,1/1/2021,10:00.0,PROPERTY DAMAGE - 2ND DEGREE,290,None,None,None,None,...,2.0,9,None,38.598725,-90.310722,None,None,None,None,None
4,4,21000008,1/1/2021,20:00.0,MISCELLANEOUS WEAPON VIOLATION,520,None,None,None,None,...,1.0,16,None,38.579494,-90.243210,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173359,173359,24000551,12/31/2023,00:00.0,DESTRUCTION OF PRIVATE PROPERTY (CITY CHARGE),290,None,None,None,None,...,1.0,16,None,38.587915,-90.252870,None,None,None,None,None
173360,173360,24000557,12/31/2023,00:00.0,DESTRUCTION OF PRIVATE PROPERTY (CITY CHARGE),290,None,None,None,None,...,6.0,68,None,38.677708,-90.217160,None,None,None,None,None
173361,173361,24000591,12/31/2023,00:00.0,DISCHARGING FIREARM WITHIN CITY,520,None,None,None,None,...,1.0,3,None,38.569796,-90.254490,None,None,None,None,None
173362,173362,24000629,12/31/2023,00:00.0,STEALING UNDER $150 (PETTY LARCENY-MOTOR VEH P...,23G,None,None,None,None,...,4.0,36,None,38.630687,-90.201630,None,None,None,None,None
173363,173363,24000707,12/31/2023,25:00.0,PROPERTY DAMAGE 1ST DEGREE,290,None,None,None,None,...,5.0,78,None,38.667339,-90.281849,None,None,None,None,None

In [ ]:
df.info()

In [5]:
conn.close()

test the new data transformer below:

In [10]:
# Connect to SQLite database
conn = sqlite3.connect('test_db.db')
cursor = conn.cursor()

In [ ]:
# Get the length of the table by getting the last index value
cursor.execute("SELECT MAX(id) FROM crime_data")
id_max = cursor.fetchone()[0] or 0  # Handle case where table is empty
table_length = id_max + 1

# Read the CSV file into a DataFrame
new_data = pd.read_csv('crime_data/crimeJanuary2024.csv')

# 1. Replace old data
for index, row in new_data.iterrows():
    # Check if the 'id' exists in the 'crime_data' table
    cursor.execute("SELECT * FROM crime_data WHERE id=?", (row['id'],))
    existing_row = cursor.fetchone()
    
#     if existing_row:
#         # If exists, update the row with new data
#         cursor.execute("UPDATE crime_data SET column1=?, column2=?, ... WHERE id=?", 
#                        (row['column1'], row['column2'], ..., row['id']))

# # 2. Add the new data
# # Define the specific date from which new data should be added
# specific_date = '2024-04-01'  # Change to your specific date

# # Filter new data based on the specific date
# new_data_after_specific_date = new_data[new_data['date'] > specific_date]

# # Append the new data to the 'crime_data' table
# new_data_after_specific_date.to_sql('crime_data', conn, if_exists='append', index=False)

# # Commit the changes and close connection
# conn.commit()

In [26]:
# Get the length of the table by getting the last index value
cursor.execute("SELECT MAX(id) FROM crime_data")
id_max = cursor.fetchone()[0] or 0  # Handle case where table is empty
table_length = id_max + 1

# Read the CSV file into a DataFrame
new_data = pd.read_csv('uploads/Crime_01_2024.csv')
for row in new_data.itertuples():
    row = row

In [29]:
row

Pandas(Index=5874, IncidentDate='2024-01-29', OccurredFromTime='07:29:00', IncidentNum=24007571, Offense='STEALING UNDER $150 (PETTY LARCENY - OTHER)', NIBRS='23H', NIBRSCategory='All Other Larceny', SRS_UCR=6.0, CrimeAgainst='Property', FelMisdCit=nan, IncidentTopSRS_UCR=6.0, IncidentLocation='ACADEMY AVE', IntersectionOtherLoc='PAGE BLVD', District=5.0, Neighborhood='Academy', NbhdNum='51', Latitude=38.65786, Longitude=-90.266113, IncidentSupplemented='No', LastSuppDate=nan, VictimNum=nan, FirearmUsed='No', IncidentNature='Larceny - Criminal')

In [9]:
conn.close()

In [7]:
table_length

173363

In [8]:
df = pd.read_sql_query("SELECT * FROM crime_data", conn)
df

,Id,IncidentNum,IncidentDate,TimeOccurred,SLMPDOffense,NIBRSCode,NIBRSCat,NIBRSOffenseType,UCR_SRS,CrimeGrade,...,District,Neighborhood,NeighborhoodNum,Latitude,Longitude,Supplemented,SupplementDate,VictimNum,FirearmUsed,IncidentNature
0,0,21000002,1/1/2021,02:00.0,MISCELLANEOUS WEAPON VIOLATION,520,None,None,None,None,...,4.0,36,None,38.629573,-90.204995,None,None,None,None,None
1,1,21000003,1/1/2021,09:00.0,MISCELLANEOUS WEAPON VIOLATION,520,None,None,None,None,...,5.0,38,None,38.641221,-90.264226,None,None,None,None,None
2,2,21000003,1/1/2021,09:00.0,PROPERTY DAMAGE,290,None,None,None,None,...,5.0,38,None,38.641221,-90.264226,None,None,None,None,None
3,3,21000007,1/1/2021,10:00.0,PROPERTY DAMAGE - 2ND DEGREE,290,None,None,None,None,...,2.0,9,None,38.598725,-90.310722,None,None,None,None,None
4,4,21000008,1/1/2021,20:00.0,MISCELLANEOUS WEAPON VIOLATION,520,None,None,None,None,...,1.0,16,None,38.579494,-90.243210,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173359,173359,24000551,12/31/2023,00:00.0,DESTRUCTION OF PRIVATE PROPERTY (CITY CHARGE),290,None,None,None,None,...,1.0,16,None,38.587915,-90.252870,None,None,None,None,None
173360,173360,24000557,12/31/2023,00:00.0,DESTRUCTION OF PRIVATE PROPERTY (CITY CHARGE),290,None,None,None,None,...,6.0,68,None,38.677708,-90.217160,None,None,None,None,None
173361,173361,24000591,12/31/2023,00:00.0,DISCHARGING FIREARM WITHIN CITY,520,None,None,None,None,...,1.0,3,None,38.569796,-90.254490,None,None,None,None,None
173362,173362,24000629,12/31/2023,00:00.0,STEALING UNDER $150 (PETTY LARCENY-MOTOR VEH P...,23G,None,None,None,None,...,4.0,36,None,38.630687,-90.201630,None,None,None,None,None
173363,173363,24000707,12/31/2023,25:00.0,PROPERTY DAMAGE 1ST DEGREE,290,None,None,None,None,...,5.0,78,None,38.667339,-90.281849,None,None,None,None,None

In [31]:
nibrs_df = pd.read_csv('uploads/Crime2021-2023.csv')
nibrs_df[nibrs_df['IncidentNum'] == 21000908]

,IncidentNum,IncidentDate,TimeOccurred,SLMPDOffense,NIBRSCode,NIBRSCat,NIBRSOffenseType,UCR_SRS,CrimeGrade,PrimaryLocation,...,District,Neighborhood,NeighborhoodNum,Latitude,Longitude,Supplemented,SupplementDate,VictimNum,FirearmUsed,IncidentNature
868,21000908,1/6/2021,14:00.0,ASSAULT 1ST DEGREE OR ATTEMPT - SERIOUS PHYSIC...,13A,NaN,NaN,NaN,NaN,UTAH ST,...,3.0,18,NaN,38.595299,-90.226944,NaN,NaN,NaN,NaN,NaN

In [32]:
log_df = pd.DataFrame(columns=['IncidentNum', 'old_num_entries', 'new_num_entries'])

Empty DataFrame
Columns: [IncidentNum, old_num_entries, new_num_entries]
Index: []